@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --background: #595e5a;
  --base: #f5f5f5;
  --highlight: #14732d;
  --border: #ddd;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
}

.app {
  max-width: 1000px;
  margin: auto;
  background: var(--base);
  padding: 15px;
}

h2 {
  color: var(--highlight);
  text-align: center;
  margin-bottom: 15px;
}

.sort-by {
  display: flex;
  justify-content: space-around;
}

select {
  font-family: inherit;
  margin: 5px 0 15px 0;
  border: 1px solid var(--border);
  box-sizing: border-box;
}

table {
  width: 100%;
  margin-top: 15px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid var(--border);
}

th {
  background-color: var(--highlight);
  color: var(--base);
}
